<form method="post" action="/update_post">
  <%= token_tag%>
  <h1> Edit post </h1>
  <input type="hidden" name="id" value= "<%= @post.id %>">
  <label for="caption"> Caption</label>
  <input type="text" id="caption" name="caption" value="<%=@post.caption%>" required>
  <label for="image"> Image </label>
  <input type="text" id="caption" name="caption" value="<%=@post.caption%>" pattern="https?://.+" title="It should be URL.eg:http, https" required>
  <label for="location"> Location </label>
  <input type="text" id="location" name="location" value="<%= @post.location %>" required>
  <button class="btn" type="submit"> Update Post </button>
</form>
